.element__like {
    margin: 30px 18px 30px 0;
    padding: 0;
    width: 21px;
    height: 19px;
    border: 0;
    background-image: url(../../../images/like.png);
    background-repeat: no-repeat;
    background-size: 21px 19px;
    background-position: center;
    background-color: white;
    opacity: 1;
    transition: opacity 1s ease-in-out 0s;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;
}