.input__line {
    margin:  13px auto 0;
    opacity: 0.2;
    border: 1px solid #000000;
    width: 358px;
    height: 0px;
}


@media screen and (max-width: 980px) {
    .input__line {
        margin-top: 9px;
        width: 238px;
    }
}