.avatar {
    position: relative;
    margin: 0;
    z-index: 1;
    width: 120px;
    height: 120px;
    transition: opacity 1s ease-in-out 0s;
    opacity: 1;
}


@media screen and (max-width: 980px) {
    .avatar {
        margin: 42px auto 30px;
    }
}

/*.avatar::after {
    content: "";
    width: 120px;
    height: 120px;
    background-image: url(../../images/edit-avatar.png);
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/